body {
	font-variant-caps: all-small-caps;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: black;
	margin: 0;
	padding: 0;
	color: white;
}


table {
	margin: 0px;
	border-collapse: collapse
}

th {
	font-size: 16px;
	font-weight: normal;
	font-variant-caps: all-small-caps;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0px 4px 0px 4px;
}


td {
	border-width: 1px;
	font-variant-caps: all-small-caps;
	font-weight: normal;
	border-color: black;
	border-style: none;
	padding: 5px;
}

input {
	background-color: rgba(0, 0, 0, 0.7);
	border-width: 1px;
	color: yellow;
	font-variant-caps: all-small-caps;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
	background-color: rgba(39, 39, 39, 0.7);
	color: rgb(255, 255, 255);
	font-variant-caps: all-small-caps;
	font-style: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 8px;
	border-width: 1px;
	border-color: rgb(117, 117, 117);
	border-style: double;
}

select {
	background-color: rgba(39, 39, 39, 0.7);
	color: rgb(255, 255, 255);
	border-radius: 8px;
	border-width: 1px;
	border-color: rgb(117, 117, 117);
	border-style: double;
	font-variant-caps: all-small-caps;
	font-style: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.view {
	position: absolute;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.view_header {
	background-color: #000000aa;
	right: 5px;
	height: 40px;
	margin: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	display: flex;
	align-items: center;
	flex-direction: row;

}


.view_content {
	overflow: auto;
	background-color: #000000aa;
	position: inherit;
	margin: 5px;
	left: 0px;
	right: 0px;
	top: 48px;
	bottom: 2px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	scrollbar-color: rgba(227, 239, 252, 0.637) rgba(12, 12, 12, 0.445);
}

.header_element {
	margin: 5px;
}

.unit_table_header_image {
	width: 18px;
	width: 18px;
}


.unitTableImage {
	width: 24px;
	height: 24px;
}

#wrapper {
	position: absolute;
	background-image: url('images/a1.png');
	background-position: center center;
	background-size: cover;
	border-width: 1px;
	border-color: white;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

#unit_view-h {
	background-image: 'images/a1.png';
	background-color: #cb8e8e88;
	margin: 5px;
	right: 50%;
	left: 0px;
	top: 0px;
	bottom: 0px
}

#deck_view-h {
	background-color: #cbc48e88;
	margin: 5px;
	left: 50%;
	top: 0px;
	right: 0px;
	bottom: 50%;
}

#stats_view-h {
	background-color: #8ecb9988;
	margin: 5px;
	left: 50%;
	top: 50%;
	right: 0px;
	bottom: 0px;
}

#unit_view-v {
	background-color: #cb8e8e88;
	margin: 5px;
	left: 0px;
	right: 0px;
	top: 30%;
	bottom: 10%;
}


#deck_view-v {
	background-color: #cbc48e88;
	margin: 5px;
	height: 30%;
	left: 0px;
	right: 0px;
	top: 0px
}

#stats_view-v {
	background-color: #8ecb9988;
	margin: 5px;
	height: 10%;
	left: 0px;
	right: 0px;
	top: 89.5%;
	bottom: 0px;
}

.unit_table {
	position: relative;
	top: 0px;
	width: 100%;
}

#unit_table_head {
	position: sticky;
	background-color: rgb(34, 34, 34);
	top: -1px;
}

.unit_table_cell {
	background-color: #00000022;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 0px 6px 0px 6px;
}

.unit_table_cell_alt {
	background-color: #72727222;
}

.unit_table_image_traits {
	width: 18px;
	height: 18px;
	padding: 2px;
}

.unit_table_cell_traits {
	width: 50px;
}


.deckSlotImage {
	width: 60px;
	height: 60px;
	opacity: 80%;
	resize: none;
}

.unit_deck_slots_div {
	width: 300px;
	height: 150px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.unit_deck_slot_div {
	width: 60px;
	height: 60px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
	overflow: hidden;
}

.deck_stats_div {
	font-size: 16px;
	width: 300px;
	border: 0px;
	border-style: solid;
	padding: 5px;
}

.deck_stats_table {
	width: 300px;
}

.deck_stats_td {
	padding: 0px;
	margin: 0px;
}